<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="textarea">
    <%= f.label :Caption %>
    <%= f.text_area :description, class: "form-control", placeholder: "Add a caption" %>
    </div>
  </div>
  <br />
  <div class="form-group">
    <%= link_to 'Cancel', pins_path, class: "btn btn-default btn-lg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.button "Create Post", class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
