<%= render 'pages/home' unless user_signed_in? %>


<div id="pins">
<% @pins.each do |pin| %>
  <div class="box panel panel-default">
    <%= link_to image_tag(pin.image.url(:original)), pin %>
    <div class="panel-body">
      <table>
        <tr>
          <td rowspan="3"><div class="round-image-50"><%= image_tag(pin.user.avatar.url(:thumb)) %>
          </div></td>
          <td><p><strong><%= pin.user.name if pin.user %></strong></p></td>
        </tr>
        <tr>
          <td><p><%= pin.description %></p></td>
        </tr>
      </table>
      <% if pin.user %>
        <div class="show_actions">
          <%= link_to edit_pin_path(@pin), class: "btn btn-default btn-xs" do%>
            <span class="glyphicon glyphicon-comment"></span>
          <% end %>
          <%= link_to like_pin_path(pin), method: :put, class: "btn btn-default btn-xs" do %> 
            <span class="glyphicon glyphicon-heart"></span>
            <%= pin.get_upvotes.size %>
          <% end %>
        </div>
      <% end %>
      <div class="timestamp">
          <%= time_ago_in_words(pin.created_at) %> ago
        </div>
    </div>
  </div>
<% end %>
</div>

<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55978328-1', 'auto');
  ga('send', 'pageview');

</script>

