<%= div_for(comment) do %>
  <div class="comments-wrapper">
      <div class="round-image-50"><%= image_tag(comment.user.avatar.url(:thumb)) %></div>
      <p>
        <strong style="font-size:14px"><%= comment.user.name %></strong>
        <span class="text-muted" style="font-size:14px">•&nbsp;<%= time_ago_in_words(comment.created_at) %> ago</span>
      </p>
      <p><%= comment.body %></p>
      <p class="comment-image"><%= image_tag comment.image.url(:original) if comment.image?%></p>
      <% if comment.user == current_user %>
        <span style="float:right;font-size:13px"><%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %></span>
      <% end %>
  </div>
  <hr>
<% end %>