<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="textarea">
    <%= f.label :Caption %>
    <%= f.text_area :description, :maxlength => 140, class: "form-control", placeholder: "Add a caption" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, class: "form-control", placeholder: "Seperate tags by commas", autofocus: true %>
  </div>
  <br />
  <div class="form-group">
    <%= link_to 'Cancel', :back, class: "btn btn-default btn-lg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.button class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
