<%= render 'pages/home' unless user_signed_in? %>

<div id="posts">
<% @posts.each do |post| %>
  <div class="box panel panel-default">
    <%= link_to image_tag(post.image.url(:original)), post %>
    <div class="panel-body">
      <table>
        <tr>
          <td rowspan="3"><div class="round-image-50"><%= image_tag(post.user.avatar.url(:thumb)) %>
          </div></td>
          <td><p><strong><%= post.user.name if post.user %></strong></p></td>
        </tr>
        <tr>
          <td><p><%= post.description %></p></td>
        </tr>
      </table>
      <% if post.user %>
        <div class="show_actions">
          <%= link_to post_path(post, anchor: 'comments' ), class: "btn btn-default btn-xs" do%>
            <span class="glyphicon glyphicon-comment"></span>
            <%= post.comments.count %>
          <% end %>
          <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-xs" do %> 
            <span class="glyphicon glyphicon-heart"></span>
            <%= post.get_upvotes.size %>
          <% end %>
        </div>
      <% end %>
      <div class="timestamp">
          <%= time_ago_in_words(post.created_at) %> ago
        </div>
    </div>
  </div>
<% end %>
</div>

<div class = "paginate">
  <%= will_paginate @posts, :page_links => false, renderer: BootstrapPagination::Rails %>    
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55978328-1', 'auto');
  ga('send', 'pageview');

</script>