<div itemscope itemtype="http://schema.org/Blog" id="posts">
<% @posts.each do |post| %>
  <div class="box panel panel-default">
    <span itemprop = "image">
      <%= link_to image_tag(post.image.url(:original)), post %>
    <span>
    <div class="panel-body">
      <table>
        <tr>
          <td rowspan="3"><div class="round-image-50"><%= image_tag(post.user.avatar.url(:thumb)) %>
          </div></td>
          <td><p>
            <strong itemprop="author"><%= post.user.name if post.user %></strong>
          </p></td>
        </tr>
        <tr>
          <td><p itemprop="name"><%= post.description %></p></td>
        </tr>
      </table>
      <% if post.user %>
        <div class="show_actions">
          <%= link_to post_path(post, anchor: 'comments' ), class: "btn btn-default btn-xs" do%>
            <span class="glyphicon glyphicon-comment"></span>
            <%= post.comments.count %>
          <% end %>
          <%= link_to like_post_path(post), method: :put, remote: true, data: { type: :json }, class: "btn btn-default btn-xs" do %>
            <span class="glyphicon glyphicon-heart"></span>
              <span class="like-count"><%= post.get_upvotes.size %></span>
          <% end %>
        </div>
      <% end %>
      <div itemprop="dateCreated" class="timestamp">
          <%= time_ago_in_words(post.created_at) %> ago
        </div>
    </div>
  </div>
<% end %>
</div>

<div class = "paginate">
  <%= will_paginate @posts, :page_links => false, renderer: BootstrapPagination::Rails %>    
</div>


<script>

  $('.btn')
    .on('ajax:success', function (e, data, status, xhr) { $(this).find("span.like-count").html(data.count); });
    
</script>

<script>
function freeze_gif(i) {
    var c = document.createElement('canvas');
    var w = c.width = i.width;
    var h = c.height = i.height;
    c.getContext('2d').drawImage(i, 0, 0, w, h);
    try {
        i.src = c.toDataURL("image/gif"); // if possible, retain all css aspects
    } catch(e) { // cross-domain -- mimic original with all its tag attributes
        for (var j = 0, a; a = i.attributes[j]; j++)
            c.setAttribute(a.name, a.value);
        i.parentNode.replaceChild(c, i);
    }
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55978328-1', 'auto');
  ga('send', 'pageview');

</script>