<% content_for :head do %>
  <title><%= @post.description %> | Pixbored</title>
<% end %>

<div itemprop="BlogPosting" class="row">
	<div class="post-navigation">
		<div class="btn-group btn-group-sm">
			<%= link_to "Previous", @post.previous, class: "btn btn-default" if @post.previous.present? %>
			<%= link_to "Next", @post.next, class: "btn btn-default" if @post.next.present? %>
  	</div>
  </div>
	<div class="panel panel-default">
		<header>
			<% if @post.description.blank? %>
			<% else %>
				<h2 itemprop= "name" style="padding-left: 12px;"><%= @post.description %></h2>
			<% end %>
			<span itemprop = "image">
				<%= image_tag @post.image.url(:original) %>
			</span>
		</header>
		<div class="panel-body">
			<table>
        <tr>
          <td rowspan="3"><div class="round-image-50"><%= image_tag(@post.user.avatar.url(:thumb)) %>
          </div></td>
          <td><p class="author" itemprop="author">
            <strong><%= @post.user.name if @post.user %>
              <span itemprop="dateCreated" class="timestamp"> | 
                <%= time_ago_in_words(@post.created_at) %> ago
              </span>
            </strong>
          </p></td>
        </tr>
      </table>
			<div class="show_actions">
				<% if @post.user == current_user %>
          <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default, btn-xs" do %>
            <span class="glyphicon glyphicon-trash" title="delete"></span>
          <% end %>
					<%= link_to edit_post_path(@post), class: "btn btn-default, btn-xs" do %>
            <span class="glyphicon glyphicon-edit" title="edit"></span>
          <% end %>
        <% end %>
        <%= link_to post_path(@post, anchor: 'comments' ), class: "btn btn-default btn-xs" do %>
          <span class="glyphicon glyphicon-comment" title="comments"></span>
          <%= @post.comments.count %>
        <% end %>
        <% if user_signed_in? %>
	        <% if current_user.liked?(@post) %>
		       	<%= link_to dislike_post_path(@post), method: :put, remote: true, data: { type: :json, toggle_href: like_post_path(@post), id: @post.id }, class: "btn btn-default btn-xs" do %>
		          <span class="glyphicon glyphicon-heart" style="color:#d41b1b" title="like"></span>
		            <span class="like-count" style="color:rgba(51, 51, 51, 0.68)"><%= @post.get_upvotes.size %></span>
		        <% end %>
		      <% else %>
		        <%= link_to like_post_path(@post), method: :put, remote: true, data: { type: :json, toggle_href: dislike_post_path(@post), id: @post.id }, class: "btn btn-default btn-xs" do %>
		          <span class="glyphicon glyphicon-heart"></span>
		            <span class="like-count"><%= @post.get_upvotes.size %></span>
		        <% end %>
		       <% end%>
		      <% else %>
		      	<%= link_to like_post_path(@post), method: :put, remote: true, data: { type: :json }, class: "btn btn-default btn-xs" do %>
		          <span class="glyphicon glyphicon-heart"></span>
		            <span class="like-count"><%= @post.get_upvotes.size %></span>
		        <% end %>
		      <% end %>
      </div>
			<% if @post.tags.any? %>
			<div class = "tags">
        <span class="glyphicon glyphicon-tag"></span> 
          <%= raw @post.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-default btn-xs"}. join(' ') %>
      </div>
      <% end %>
	</div>
</div>
<div class="comment-main">
	<div class="comment-form">
		<h5>
		  <% if @post.comments.count == 1 %> 
		  	<strong><%= @post.comments.count %> Comment</strong>
		  <% else %>
		  	<strong><%= @post.comments.count %> Comments</strong>
		  <% end %>
		  <span class = "text-muted" style = "float:right" > <% if user_signed_in? %>
		  	<strong><%= current_user.name %></strong>
		  	<% else %>
		  		<%= link_to "Sign in to comment", new_user_session_path %>
		  	<% end %>
		  </span>
		</h5>

		<%= simple_form_for [@post, Comment.new]  do |f| %>
		  <div class="field">
		    <%= f.text_area :body, class: "form-control", placeholder: "Join the discussion..." %>
		  </div>
		  <span class="file-input" >
		  		<%= f.file_field :image, class: "form-control" %>
		  	</span>
		  <div class = "form-footer">
		  	<button type="button" class="btn btn-sm btn-default">
		  		<span><i class="fa fa-picture-o fa-2x"></i></span>
		  	</button>
		  	<%= f.submit "Post Comment", class: "btn btn-danger" %>
		  </div>
		<% end %>
	</div>
	<div itemprop="UserComments" id="comments">
	  <%= render :partial => @post.comments %>
	</div>

	<% if @post.comments.count == 0 %>
		<br>
		<p class="text-muted" style="text-align:center">No comments yet. Be the first!</p>
	<% end %>
</div>


<script>
  $('.btn')
		.on('ajax:success', function (e, data, status, xhr) {  $(this).find("span.like-count").html(data.count); });
	$('.glyphicon-heart').click(function(){
        $(this).css("color","#d41b1b");
    });

	$(".btn-default").click(function(){
    $(this).css("color","rgba(51, 51, 51, 0.68)")
    $(this).find(".glyphicon-heart").css("color","#d41b1b")
  });
</script>

<script>
		$('.field').click(function(event){
      $('.form-footer').show();
    });

    $('button').click(function(event){
      $('span.file-input').toggle();
      $('.form-footer').css('padding-top','5px')
    });
</script>
